LectionGit/LectionGit.xcodeproj/project.xcworkspace/xcuserdata/romanroditelev.xcuserdatad/UserInterfaceState.xcuserstate
LectionGit/LectionGit.xcodeproj/xcuserdata/romanroditelev.xcuserdatad/xcschemes/xcschememanagement.plist
